<div class="antialiased header">
  <div class="row fullWidth">
    <div class="medium-4 column">
      <div class="headerTitle">
        <h3>Cerebro</h3>
        A sentiment analyser
      </div>
    </div>
    <div class="medium-2 column">
    </div>
    <div class="medium-4 column">
      <blockquote class="twitterHeaderBlockQuote">Those people who think they know everything are a great annoyance to those of us who do.
        <cite>Isaac Asimov</cite>
      </blockquote>
    </div>
  </div>

</br>
</div>
